target/
!.mvn/wrapper/maven-wrapper.jar
tree
tree.txt
test.txt
stack.txt
### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
application.pid
### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/